.note {
  margin: 25px auto 25px;
  width: 100%;

  .card {
    background-color: #ffffcc;
    width: 100%;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: black solid 1px;
  }
}